<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animated Form Login</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="container">
        <i style="--clr: #4ad4f6;"></i>
        <i style="--clr: #cb0fd1;"></i>
        <i style="--clr: #4ad4f6;"></i>
        <div class="login">
            <h2>Login Form</h2>
            <div class="input-box">
                <input type="text" placeholder="Username">
            </div>
            <div class="input-box">
                <input type="password" placeholder="Enter Password" id="password">
            </div>
            <div class="input-box">
                <input type="submit" value="Sign In">
            </div>
            <div class="links">
                <a href="#">Forgot Password?</a>
                <a href="#">Sign Up</a>
            </div>
        </div>
    </div>
</body>
</html>